{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Mr Search</title>
</head>
<body>
    
    {% comment %} Image result {% endcomment %}
    <section class="text-gray-600 body-font">
        <div>
            <br>
        </div>
        <div class="container px-10 py-30 mx-auto">
            <div class="flex flex-wrap -m-4">
                {% for i in images %}
                <div class="xl:w-1/5 md:w-1/2 p-4">
                    <div class="bg-gray-100 p-1 rounded-lg">
                        <img class="h-40 rounded w-full object-cover object-center mb-2" src="{{ i }}" alt="content">
                    </div>
                </div>
                {% endfor %}
    </section>
</body>
</html>
</body>
</html>