{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    {% include 'header.html' %}
    
    {% if 'search' in request.path %}
        {% include 'all.html' %}
    {% endif %}
    {% if 'all' in request.path %}
        {% include 'all.html' %}
    {% endif %}
    
    {% if 'videos' in request.path %}
        {% include 'videos.html' %}
    {% endif %}

    {% if 'images' in request.path %}
        {% include 'images.html' %}
    {% endif %}
    
    {% if 'books' in request.path %}
        {% include 'books.html' %}
    {% endif %}
</body>
</html>