<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body{
            background-color: #111827;
        }
    </style>
    <title>Mr Search</title>
</head>
<body>
    
{% comment %} Search Bar {% endcomment %}
<header class="text-gray-400 bg-gray-900 body-font">
    <div class="container mx-auto flex flex-wrap p-2  flex-col md:flex-row items-center">
      <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 flex flex-wrap items-center text-base justify-center">
        <a href="/" class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">Mr Search</a>
             &nbsp&nbsp&nbsp&nbsp
        <div class="w-950"> 
            <form action="search" method="post">
                {% csrf_token %}   
            <input type="text" id="uname" name="q" value="{{mytext}}" size=50 class="bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-900 focus:bg-transparent text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">&nbsp&nbsp&nbsp&nbsp
            <button type='submit'class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Search</button>
            </form>
        </div>
      </nav>
    </div>
</header>

{% comment %} End Of Search Bar {% endcomment %}
  
{% comment %} Sections {% endcomment %}
<header class="text-gray-400 bg-gray-900 body-font">
    <div class="container mx-auto flex flex-wrap p-2 flex-col md:flex-row items-center">
      <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 flex flex-wrap items-center text-base justify-center">
        <div class="relative"> 

            {% comment %} <form action="videos" method="post">
                {% csrf_token %}
                <button> 
                <input  type="hidden" value="{{mytext}}" name="q" >{% endcomment %}
                <a href='all' class="sm:px-6 py-3 w-1/2 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-medium  inline-flex items-center leading-none  border-gray-800 hover:border-indigo-500 hover:text-white tracking-wider rounded-t">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5 mr-3" viewBox="0 0 24 24">
                        <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                    </svg>
                    All
                </a>
                {% comment %} </button> 
            </form> {% endcomment %}


            {% comment %} <form action="videos" method="post">
                {% csrf_token %}
                <button>
                <input type="hidden" value="{{mytext}}" name="q" > {% endcomment %}
            <a href='images' class="sm:px-6 py-3 w-1/2 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-medium inline-flex items-center leading-none border-gray-800 hover:border-indigo-500 hover:text-white tracking-wider ">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5 mr-3" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd" />
                </svg> Images                  
                </a>
                {% comment %} </button> 
            </form>
             {% endcomment %}





        {% comment %} <form action="videos" method="post">
                {% csrf_token %}
                <button>
                <input type="hidden" value="{{mytext}}" name="q" > {% endcomment %}
            <a href='videos' class="sm:px-6 py-3 w-1/2 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-medium inline-flex items-center leading-none border-gray-800 hover:border-indigo-500 hover:text-white tracking-wider">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5 mr-3" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M4.5 5.653c0-1.426 1.529-2.33 2.779-1.643l11.54 6.348c1.295.712 1.295 2.573 0 3.285L7.28 19.991c-1.25.687-2.779-.217-2.779-1.643V5.653z" clip-rule="evenodd" />
                </svg>Videos
            </a>
            {% comment %} </button> 
        </form> {% endcomment %}

        </div>
      </nav>
    </div>
</header>
</body>
</html